.infoCard {
    position: absolute;
    bottom: 100px;
    left: 100px;
    right: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.6);
}

.fixPadding {
    padding-top: 16px;
}